.container {
  display: flex;
  height: 500px;
}

.left {
  display: flex;
  flex-direction: column;
  width: 39%;
  margin-right: 1%;
}

.right {
  width: 59%;
  margin-left: 1%;
  border: 2px solid #000;
}

.box {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #000;
}

.box1,
.box2 {
  display: flex;
  align-items: center;
  height: 16%;
  margin-bottom: 4%;
  padding-left: 2em;
}

.box3 {
  height: 60%;
}